#scorecard {
  position: absolute;
  bottom: 20vh;
  background: white;
  font-size: 32px;
  padding: 25px;
  font-family: "Space Mono";
  left: -100vw;
  transition: left .1s;
}

#scorecard.shown {
  left: 0;
}

#scorecard .row {
  display: flex;
  justify-content: space-between;
}

#scorecard .row.total {
  color: #E15B3E;
}

#scorecard hr {
  border: 1px solid black;
}

.row-score {
    font-size: 120px;
    font-weight: bold;
    padding-left: 100px;
    line-height: 1;
}

#scorecard .button-container {
  text-align: right;
  margin-top: 20px;
}

#scorecard button {
  font-family: "Space Mono";
  font-size: 30px;
  padding: 20px 40px;
  background: #322E27;
  border: none;
  color: white;
  cursor: pointer;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  padding: 80px;
  padding-left: 70px;
}

.level-ui {
  background-color: #E15B3E;
  padding: 15px;
  color: white;
  font-size: 40px;
  margin-bottom: 40px;
  font-family: "Space Mono";
  text-rendering: antialiased;
}

.heart {
  background-color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid white;
}

.heart.used {
  background-color: transparent;
}

.shots-ui {
  margin-bottom: 50px;
}

.shot {
  background-color: #E15B3E;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid #E15B3E;
}

.shot.used {
  background-color: transparent;
}
